body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: rgb(220, 220, 221);
  color: black; 
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100%;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;      
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

.main-nav ul li a {
  display: block;
  text-decoration: none;
  color: black; 
  font-size: 1rem;
}

.main-nav ul li a:focus,
.main-nav ul li a:hover {
  text-decoration: underline;
}

.main-nav a:focus {
  outline: 2px solid blue;
  border-radius: 4px;
}

form input,
form textarea {
  display: block;
  width: 98%;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background-color: blue;
  color: white;
  border: none;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

form button:hover {
  background-color: blueviolet;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 0.5rem;
  text-decoration: none;
  background-color: blue;
  color: white;
}

.skip-link:focus {
  top: 0;s
}